__pycache__/
.DS_Store
core.*
.cache/
audio_flamingo_2/data/manifests/
audio_flamingo_2/data/manifests_2/
audio_flamingo_2/data/manifests-balance/
audio_flamingo_2/train/vstep-lora-1.5B/
audio_flamingo_2/train/vstep-lora-3B/
audio_flamingo_2/train/wandb/
audio_flamingo_2/data/manifests-5categories/
audio_flamingo_2/train/afclap_checkpoints/
audio_flamingo_2/train/hf_model/
audio_flamingo_2/train/hf_model_3B/
audio_flamingo_2/train/vstep-lora-1.5B-3categories/
audio_flamingo_2/train/vstep-lora-1.5B_cont
audio_flamingo_2/train/vstep-lora-1.5B
*.txt
*.sh
*.pth
*.pt
*.safetensors
*.json
audio_flamingo_2/data/manifests-5categories/VSTEP-SpeakingScoring/*.json
audio_flamingo_2/train/vstep-lora-1.5B-3cate/*.json
